<ion-view view-title="Browse">
  <ion-header-bar class="bar bar-header bar-positive">
	  	<button class="button button-icon icon ion-home"></button>
    	<h1 class="title">Item Inquiry</h1>
    </ion-header-bar>
  <ion-content class="grey-background">    	
    	<div class="list">
			<div class="item item-divider list-divider">
				<div class="row">
		   			<div class="col">Item Number</div>
		   			<div class="col">Description</div>
		   			<div class="col">Unit of Measures</div>
		   			<div class="col">Price</div>
		   		</div>
			</div>
			<div class="item grey-background" ng-click="showDetails()">
		   		<div class="row row-center">
		   			<div class="col">60200002</div>
		   			<div class="col">Carpenters Square</div>
		   			<div class="col">Units</div>
		   			<div class="col">INR2500.00</div>
		   		</div>
			</div>
			<div class="item item-divider list-divider">
				<div class="row">
		   			<div class="col">Store</div>
		   			<div class="col">Stock on Hand</div>
		   			<div class="col">Available Qty</div>
		   			<div class="col">In Order Qty</div>
		   			<div class="col">On Order Qty</div>
		   		</div>
			</div>
			<div class="item grey-background" ng-click="showDetails()">
		   		<div class="row row-center">
		   			<div class="col"><b>04241</b><BR>Lakeline Mall</div>
		   			<div class="col">100.00</div>
		   			<div class="col">100.00</div>
		   			<div class="col">0.00</div>
		   			<div class="col">0.00</div>
		   		</div>
			</div>
		</div>

  </ion-content>
  <div class="bar bar-footer bar-positive">
   <h1 class="title"><button class="button button-clear" ng-click=""><img src="/images/50-plus.png"><br>Next</button>
</h1>
</div>
</ion-view>